@charset "utf-8";
@import url(reset.css);

header {
    height: 80px;
    padding: 0;
    background-color: #EFA358;
}
#header {
    width: 1000px;
    height: 80px;
    margin: 0 auto 0 auto; 
}
#header h1 {
    float: left;
    padding: 20px 0 20px 10px;
    font-weight: bold;
    font-size: 1.5em;
}
#header ul {
    float: right;
    padding-right: 10px;
}
#header ul li {
    display: inline-block;
    padding-right: 20px;
}

#mainvisual img {
    width: 100%;
    max-width: 1366px;
    height: 603px;
    object-fit: cover;
}
footer {
    background-color: #EFA358;
    height: 80px;
}